.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  border-right: 1px solid rgb(255, 255, 255);
  height: 100%;
  /* overflow: scroll; */
}
.sidebar_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.right_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}
.right_header .MuiSvgIcon-root {
  font-size: 22px !important;
}
.search_container {
  display: flex;
  align-items: center;
  background-color: rgb(243, 243, 243);
  padding: 10px;
  justify-content: space-between;
  /* border-bottom: 1px solid rgb(226, 226, 226); */
}
.search_container .MuiSvgIcon-root {
  color: gray;
}
.search_container > input {
  background-color: rgb(247, 247, 247);
  border: none;
  padding: 5px;
  border-radius: 30px;
  outline: none;
  flex: 1;
}
.sidebar_rooms {
  overflow-y: auto;
  flex: 1;
  min-width: 10vw;
  background-color: rgb(247, 247, 247);
}
